.main-footer {
  @include mobile {
    .ml-4 {
      margin: 0 !important;
    }

    .is-justify-content-flex-end {
      justify-content: space-between !important;
    }
  }

  hr {
    margin: 0;
    background-color: $border;
    height: 1px;
  }
}
