@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$primary: #003753;
$dark: #6dd5c2;
$light: #ebfaff;

$family-primary: 'Inter', sans-serif;

$text: $primary;

$navbar-item-hover-background-color: inherit;
$navbar-item-hover-color: lighten($primary, 10%);

@import '~bulma/bulma.sass';
