@charset "utf-8";

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''), url('../fonts/inter-v2-latin-regular.woff2') format('woff2'),
    url('../fonts/inter-v2-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''), url('../fonts/inter-v2-latin-700.woff2') format('woff2'),
    url('../fonts/inter-v2-latin-700.woff') format('woff');
}

$family-primary: 'Inter', sans-serif;


$primary: #003753;
$dark: #6dd5c2;
$light: #ebfaff;
$border: #C4D0D4;

$text: $primary;
$text-strong: $text;
$title-color: $text;

$size-1: 5rem;
$size-2: 2.5rem;
$size-3: 1.625rem;
$size-4: 1.25rem;
$size-5: 1rem;
$size-6: 0.875rem;

$button-background-color: transparent;
$button-border-color: transparent;
$button-hover-border-color: transparent;
$button-active-border-color: transparent;
$button-focus-border-color: transparent;
$button-hover-color: lighten($primary, 15%);

$navbar-item-hover-background-color: inherit;
$navbar-item-hover-color: lighten($primary, 15%);

$radius-large: 24px;

@import '~bulma/bulma.sass';

@import './specifics';
@import './footer';